
.wrapper {
  display: flex;
  height: 100vh;
  width: 100wh;
  justify-content: center;
  align-items: center;
}

.accordion {
  width: 500px;
}

.item {
  background-color: #614101;
  margin-bottom: 8px;
  padding: 8px 20px;
}

.title {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* clickable */
  cursor: pointer; 
}

.content {
  color: white;
  height: auto;
}